html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  padding: 20px 0;
}
body {
  font-family: arial, helvetica, sans-serif;
  }
  .contenedor {
    margin: 0 auto;
    width: 800px;
  }
